/* 
$mainBG: #EAEDED;
$secBG: #acafb3;
$thirdBG: #54585A;
$Headings: #33363A;
$textColor: #1C1E21; */

$mainBG: #F3ECE0;
$secBG: #B8B19F;
$thirdBG: #D17A45;
$Headings: #A45D5D;
$textColor: #0e0803;

$fontNunito: 'Nunito', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontInconsolata: 'Inconsolata', monospace;

