
$mainBG: #EAEDED;
$secBG: #acafb3;
$thirdBG: #54585A;
$Headings: #33363A;
$textColor: #1C1E21;

$fontNunito: 'Nunito', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontInconsolata: 'Inconsolata', monospace;

