@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./vendor/reset";
@import "variables";
@import "cursor";
@import "loading";
@import "navigation";

* {
    box-sizing: border-box;
}

body, html {
    overflow-y: auto;
    overflow-x: hidden; 
}

body {
    font-family: $fontNunito;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    width: 100%;
  /*   background: $mainBG; */
}

.background-element {
   background: green;
}

p {
    color: $textColor;
}


h1, h2, h3, h4 {
    color: $Headings;
}

button {
    background: $thirdBG;
    border: 3px solid $secBG;
}

/* Darkmode Logo */

.darkmode-toggle {
    transition: transform 0.3s ease;
    &:hover {
        transform: rotate(180deg)
    }
}

/* M Logo */

.M-logo {
    filter: drop-shadow(0 0 0.05rem black);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2)
    }
}

/* Particles */

.particles-container {
    z-index: 0;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}

.hoverable {
    position: relative;
    cursor: pointer; 
    display: inline-block; 
    padding-bottom: 1px;
    &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%; 
        right: 50%; 
        width: auto; 
        height: 1px;
        background-color: gray;
        transition: left 0.3s ease-out, right 0.3s ease-out; 
        z-index: -1;
        border-radius: 1px 0 0 1px; 
    }
    &:hover::before {
        left: 0; 
        right: 0;
        border-radius: 1px; 
    }
}


