@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./vendor/reset";
@import "variables";
@import "cursor";
@import "loading";
@import "navigation";

* {
    box-sizing: border-box;
}

body, html {
    overflow-y: auto;
    overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: $fontNunito;
}

.about, .projects, .contact {
    min-height: 100vh;
    width: 100%;
    background: $mainBG; 
    z-index: 0;
}

.sidebarline {
    background: $secBG;
}

a {
    color: $secBG;
}

p, li {
    color: $textColor;
}

.social-icon {
    fill: red;
}

h1, h2, h3, h4 {
    color: $Headings;
}

.landing-lower {
    background: $secBG;
    width: 100%;
    height: 100%;
    flex: 1;
}

button {
    background: $thirdBG;
    border: 3px solid $secBG;
}

/* Darkmode Logo */

.darkmode-toggle {
    transition: transform 0.3s ease;
    &:hover {
        transform: rotate(180deg)
    }
}

/* M Logo */

.M-logo {
    filter: drop-shadow(0 0 0.05rem black);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2)
    }
}

/* Particles */


#tsparticles {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    z-index: 10;
}


.hoverable {
    position: relative;
    cursor: pointer; 
    display: inline-block; 
    padding-bottom: 1px;
    &::before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%; 
        right: 50%; 
        width: auto; 
        height: 1px;
        background-color: gray;
        transition: left 0.3s ease-out, right 0.3s ease-out; 
        z-index: -1;
        border-radius: 1px 0 0 1px; 
    }
    &:hover::before {
        left: 0; 
        right: 0;
        border-radius: 1px; 
    }
}


